---
layout: blog-common-layout
title: Blog title
subtitle: Blog subtitle
---

<div class="article">
  <main>
    <article>
      <h1 class="article__heading">{{ title }}</h1>
      <p class="article__date text-tertiary">{{ date | date: '%B %d, %Y' }}</p>

      <div class="text-secondary">
        {{ content }}
      </div>
    </article>
  </main>

  <footer class="footer">
    <div class="footer__line"></div>

    <div class="footer__icons">
      <a
        href="https://www.linkedin.com/in/crisan-mihai"
        target="_blank"
        rel="noopener noreferrer"
        title="linkedin"
      >
        {% render 'img/icons/linkedin.svg' %}
      </a>

      <a
        href="https://www.instagram.com/michaelfrontend"
        target="_blank"
        rel="noopener noreferrer"
        title="instagram"
      >
        {% render 'img/icons/instagram.svg' %}
      </a>

      <a
        href="https://twitter.com/michaelfrontend"
        target="_blank"
        rel="noopener noreferrer"
        title="twitter"
      >
        {% render 'img/icons/twitter.svg' %}
      </a>

      <a
        href="https://reddit.com/user/michaelfrontend"
        target="_blank"
        rel="noopener noreferrer"
        title="reddit"
      >
        {% render 'img/icons/reddit.svg' %}
      </a>

      <a
        href="https://github.com/crisanmm"
        target="_blank"
        rel="noopener noreferrer"
        title="github"
      >
        {% render 'img/icons/github.svg' %}
      </a>

      <a
        href="https://stackoverflow.com/users/10668140/michael-crisan"
        target="_blank"
        rel="noopener noreferrer"
        title="stackoverflow"
      >
        {% render 'img/icons/stackoverflow.svg' %}
      </a>
    </div>

    <a href="mailto:me@michaelfrontend.com" class="button-cta"
      >send me an email {% render 'img/icons/mail.svg' %}
    </a>
  </footer>
</div>
