pre {
  border-radius: 8px;
}

article {
  margin: 64px auto 0px auto;
}

article a {
  font-weight: 700;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-bottom: 4px;
}

p {
  margin-bottom: 0;
}

p code,
ul code,
ol code {
  background-color: lightgrey;
  padding: 0px 2px;
  border-radius: 4px;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

pre code * {
  background-color: inherit;
  padding: inherit;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.article-heading {
  margin-bottom: 4px;
}

.article-subheading {
  margin-bottom: 0px;
}

.article-subheading + p {
  margin-top: 8px;
}

.date {
  margin-top: 0px;
}

.content p {
  line-height: 26px;
}

.image {
  width: calc(100% + 48px);
  margin: 0 -24px;
}

footer {
  margin-bottom: 32px;
}

.footer-line {
  background-color: var(--text-tertiary);
  margin: 32px auto;
  width: 90%;
  height: 1px;
  border-radius: 2px;
}

@media screen and (min-width: 375px) {
  .footer-line {
    max-width: 90%;
  }
}

@media screen and (min-width: 460px) {
  .footer-line {
    width: 75%;
  }
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons > * {
  margin-left: 10px;
  margin-right: 10px;
  color: var(--text-primary);
}
