pre.language-js {
  border-radius: 8px;
}

.article {
  margin-top: 64px;
}

.article-heading {
  margin-bottom: 4px;
}

.article-subheading {
  margin-bottom: 0px;
}

.article-subheading + p {
  margin-top: 8px;
}

.date {
  margin-top: 0px;
}

.content {
  line-height: 26px;
}

.image {
  width: calc(100% + 48px);
  margin: 0 -24px;
}

footer {
  margin-bottom: 32px;
}

.footer-line {
  background-color: var(--text-tertiary);
  margin: 32px auto;
  width: 300px;
  height: 1px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons > img {
  margin-left: 10px;
  margin-right: 10px;
  color: var(--text-primary);
}
