@font-face {
  font-family: 'Manrope';
  src: url('/styles/manrope-variable.woff2') format('woff2-variations');
  font-weight: 200 800;
}

html {
  background-color: var(--background);
}

body {
  margin: 0 auto;
  padding: 0px 24px;
}

@media screen and (min-width: 70ch) {
  body {
    width: 70ch;
  }
}

* {
  --cta: #4977e9;
  --background: #fafaff;
  --text-primary: #34344c;
  --text-secondary: #5f5e78;
  --text-tertiary: #a7a6bf;
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--cta);
  text-decoration: none;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  color: var(--text-primary);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: var(--text-primary);
}

div,
span,
p,
.text-secondary {
  color: var(--text-secondary);
}

.text-tertiary {
  color: var(--text-tertiary);
}

.button-cta {
  display: block;
  border-radius: 4px;
  background-color: var(--cta);
  width: 105px;
  height: 48px;
  color: var(--background);
  text-decoration: none;
  margin: 24px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
