.article {
  article {
    a {
      font-weight: 700;
    }

    p,
    div {
      margin-bottom: 0;
    }

    &__date {
      margin-top: $spacing;
    }

    img {
      width: 100%;
      margin-top: $spacing * 2;
    }
  }

  @import 'highlight';
}
