.article {
  article {
    h2 {
      margin-top: $spacing * 6;
    }

    h3 {
      font-size: 20px;
      margin-top: $spacing * 4;
    }

    a {
      font-weight: 700;
    }

    p,
    div {
      margin-bottom: 0;
    }

    &__date {
      margin-top: $spacing;
    }

    img {
      width: 100%;
      margin-top: $spacing * 2;
    }
  }

  @import 'highlight';
}
