@font-face {
  font-family: 'Manrope';
  src: url('/styles/fonts/manrope-variable.woff2') format('woff2-variations');
  font-weight: 200 800;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  --white: #{$white};

  @media screen and (prefers-color-scheme: light) {
    @include light-color-scheme;
  }

  @media screen and (prefers-color-scheme: dark) {
    @include dark-color-scheme;
  }

  &.light {
    @include light-color-scheme;
  }

  &.dark {
    @include dark-color-scheme;
  }

  margin: 0 auto;
  padding: 0 ($spacing * 2);
  transition-property: color, background-color;
  transition-duration: 300ms;
  background-color: var(--background);
  font-family: 'Manrope', sans-serif;
  line-height: 1.8;

  @media screen and (min-width: 780px) {
    max-width: 780px;
  }
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--cta);
  text-decoration: none;
}

h1 {
  font-size: 36px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: var(--text-primary);
  line-height: 1.2;
  margin-bottom: 0;
}

.text-secondary {
  color: var(--text-secondary);
}

.text-tertiary {
  color: var(--text-tertiary);
}

.button-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-top: $spacing * 1.5;

  &--index {
    justify-content: flex-start;
  }

  svg {
    color: var(--text-primary);
    margin-left: $spacing;
  }
}

footer {
  margin-bottom: 32px;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: ($spacing * 8) 0;

  &__title {
    color: var(--cta);
    font-weight: 700;
    font-size: 24px;
  }

  &__color-scheme-switch {
    cursor: pointer;
    background-color: transparent;
    color: var(--color-scheme-switch);
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
    margin-left: auto;
  }
}

.footer {
  &__line {
    background-color: var(--text-tertiary);
    margin: ($spacing * 4) auto;
    width: 90%;
    height: 1px;
    border-radius: 2px;

    @media screen and (min-width: 375px) {
      max-width: 90%;
    }

    @media screen and (min-width: 460px) {
      width: 75%;
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;

    &--intro {
      margin-top: $spacing * 4;
      justify-content: flex-start;
    }

    & > * {
      margin-left: $spacing * 1.25;
      margin-right: $spacing * 1.25;
      color: var(--text-primary);

      &:first-child {
        margin-left: $spacing * 0.5;
      }
    }
  }
}
