@font-face {
  font-family: 'Manrope';
  src: url('/styles/fonts/manrope-variable.woff2') format('woff2-variations');
  font-weight: 200 800;
}

* {
  box-sizing: border-box;
}

html {
  --white: #fafaff;
  --cta: #4977e9;

  @media screen and (prefers-color-scheme: light) {
    --background: #fafaff;
    --background-secondary: #e5e8ff;
    --text-primary: #34344c;
    --text-secondary: #5f5e78;
    --text-tertiary: #a7a6bf;
  }

  @media screen and (prefers-color-scheme: dark) {
    --background: #111322;
    --background-secondary: #313668;
    --text-primary: #c8c8da;
    --text-secondary: #9796b0;
    --text-tertiary: #545473;
  }
}

body {
  margin: 0 auto;
  padding: 0px 16px;
  transition-property: color, background-color;
  transition-duration: 300ms;
  background-color: var(--background);
  font-family: 'Manrope', sans-serif;
  line-height: 1.65;

  @media screen and (min-width: 730px) {
    max-width: 730px;
  }
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--cta);
  text-decoration: none;
}

h1 {
  font-size: 36px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: var(--text-primary);
  line-height: 1.2;
  margin-bottom: 0;
}

.text-secondary {
  color: var(--text-secondary);
}

.text-tertiary {
  color: var(--text-tertiary);
}

.button-cta {
  display: block;
  border-radius: 4px;
  background-color: var(--cta);
  width: 105px;
  height: 48px;
  color: var(--white);
  text-decoration: none;
  margin: 24px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-bottom: 32px;
}
